:root {
    --bgColor: #494D5F
}

body {
    background-color: var(--bgColor);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: center;
    background-color: #d0bdf4;
    padding: 8px;
}

#etchContainer {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin: auto auto;
}

#controls {
    display: flex;
    gap: 16px;
}

#footer {
    background-color: #a0d2eb;
    padding: 8px;
    justify-content: center;
}

#grid {
    display: grid;
    width: 300px;
    height: 300px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.grid-item {
    border-top: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}
